.input {
  outline: 0;
  border: none;
  height: 40px;
  padding: 0 24px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  background: #f0f0f0;
  width: calc(100% - 48px);
}
.input:focus {
  background: white;
  border-color: #d8abfd;
  -webkit-appearance: none;
  box-shadow: 0 0 0 0.2rem rgba(157, 46, 251, 0.25);
}
.invalid {
  border-left: 4px solid #dc3545;
}
