@import "../../scss/variables";

.button {
  padding: 0;
  outline: 0;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  border-radius: 1000px;
  background-color: $primary-color;
}
