@import "../../scss/classes";
@import "../../scss/variables";

.page {
  max-width: 400px;
  margin: 0 auto;
}
.wrapper {
  padding: 20px 30px;
  h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 30px;
  }
}
.inputGroup > * {
  margin-bottom: 15px;
}
.alert {
  width: 100%;
}
.separator {
  border-bottom: $border;
  padding-bottom: 20px;
  margin-bottom: 12px;
  width: 100%;
}
.textCenter {
  text-align: center;
}

.socialLogin {
  @extend %flex-horizontal-center;
  width: 100%;
}
.iconWrapper {
  @extend %flex-center;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 100%;
  background-color: $primary-color;
  img {
    width: 16px;
    height: 16px;
  }
}
.invalid {
  border-left: 4px solid #dc3545;
}

.button {
  @extend %flex-center;
  width: 100%;
  height: 40px;
  padding: 0 24px;
  margin-top: 20px;
  font-weight: 600;
  img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}
