@import "../../scss/classes";
@import "../../scss/variables";

.content {
  margin: 20px 2%;
}
.video {
  @extend %flex-items-row;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  .player {
    width: 70% !important;
  }
  .sidebar {
    margin-left: 15px;
    margin-top: 0 !important;
    width: calc(20% - 15px) !important;
  }
}
.sidebar {
  width: 100%;
  padding: 20px;
  color: white;
  margin-top: 15px;
  background-color: $primary-color;
}
.rest {
  margin-top: 20px;
}
.title {
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0 10px;
  color: $primary-color;
  text-transform: uppercase;
}
.userInfo {
  @extend %flex-items-row;
  margin-top: 15px;
  padding-left: 15px;
  img {
    margin-right: 10px;
  }
}
.userDetail {
  @extend %flex-items-column;
  justify-content: space-around;
}
.separator {
  width: 100%;
  margin: 16px 0;
  border-bottom: 1px solid silver;
}

.videoInfo {
  @extend %flex-items-row;
}
.info {
  @extend %flex-items-row;
  margin-left: 15px;
  > span {
    color: #000;
    font-size: 12px;
    margin: 1px 5px;
    font-weight: 500;
  }
}

.description {
  color: #333333;
  margin-top: 20px;
  white-space: pre;
}
