@import "../../scss/classes";
@import "../../scss/variables";

.profile {
  width: 100%;
}
.profileCoverPicture {
  margin-bottom: 30px;
  > img {
    height: auto;
    max-width: 100%;
  }
}
.flexRow {
  @extend %flex-items-row;
}
.userWidget {
  @extend %flex-horizontal-center;
  width: calc(100% - 20px);
  padding: 0 10px;
  margin-bottom: 30px;
  flex-flow: row wrap;
  justify-content: space-around;
}
.userProfilePictureWrapper {
  width: 90px;
  height: 90px;
  padding-right: 10px;
  border-radius: 100%;
}

.userDetails {
  @extend %flex-items-column;
  justify-content: space-around;
  font-size: 11px;
  margin-left: 10px;
  padding-right: 20px;
  border-right: $border;
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 350px) {
  .userDetails {
    border-right: none;
  }
}

.userDetailsLoading {
  > div {
    width: 90px;
    height: 20px;
  }
}
.username {
  color: black;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 5px;
}

.profileLinks {
  width: 40%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  > a {
    color: black;
    font-weight: 800;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  > a:hover {
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
  }
}

.buttonWrapper {
  @extend %flex-vertical-center;
}
.button {
  @extend %flex-center;
  height: 40px;
  width: 150px;
  margin-left: 15px;
}

.followersIcon {
  width: 20px;
  margin-right: 5px;
}
.followLabel {
  @extend %flex-items-column;
  text-align: left;
}
.subCount {
  font-size: 12px;
  font-weight: 900;
}

.videoList {
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  > * {
    margin-right: 4px;
    margin-bottom: 10px;
  }
}
