@import "../../scss/classes";
@import "../../scss/variables";

$border-color: #f5f5f5;

%text {
  color: black;
  word-wrap: break-word;
}

.page {
  @extend %flex-items-row;
  margin-top: 30px;
}
.sidebar {
  width: 20%;
  padding: 0 15px;
}
@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .page {
    justify-content: center;
  }
}
.content {
  width: 80%;
  > * {
    margin-bottom: 30px;
  }
}

.categoryInfo {
  @extend %flex-vertical-center;
  margin-right: 15px;
  > h1 {
    padding-right: 15px;
    border-right: 1px solid $border-color;
  }
  > span {
    margin-left: 15px;
  }
}
.separator {
  @extend %flex-vertical-center;
  height: 1px;
  margin-bottom: 20px;
  background-color: $border-color;
  > span {
    width: 30px;
    height: 6px;
    background-color: $primary-color;
  }
}
.categoryContent {
  padding: 0 15px;
}
.description {
  overflow: hidden;
  @extend %text-overflow;
}

.leaderboard {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  > p {
    width: 100%;
    color: black;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }
  > hr {
    height: 0;
    border: 0;
    width: 70%;
    margin-top: 1rem;
    overflow: visible;
    margin-bottom: 1rem;
    box-sizing: content-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.userList {
  @extend %flex-horizontal-center;
  flex-flow: row wrap;
}
.user {
  @extend %flex-center;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
}
.loading {
  height: 10px;
  margin-bottom: 10px;
}
.userInfo {
  @extend %flex-items-column;
  margin-left: 5px;
  width: calc(100% - 50px);
  justify-content: space-between;
  > span {
    @extend %text;
  }
}
.videoCount {
  font-weight: 400;
}

.categoryList {
  @extend %flex-items-column;
}
.category {
  @extend %flex-items-row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categoryVideoCount {
  @extend %text;
}

.videoList {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  > * {
    margin: 0 4px 10px 0;
  }
}
