@import "../../scss/classes";

.videoPreview {
  width: 230px;
}
.link {
  cursor: pointer;
}

.thumbnailWrapper {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  &:before {
    padding-top: 100%;
  }
  > img {
    width: 100%;
    max-height: 120px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.videoTitle {
  color: black;
  margin-bottom: 5px;
}
.videoTitleLoading {
  width: 100%;
  height: 30px;
}
.fallback {
  background-color: #e2e2e2;
}

.videoData {
  @extend %flex-items-column;
  justify-content: space-between;
  > * {
    font-size: 10px;
    margin-bottom: 5px;
  }
}
.username {
  color: rgba(0, 0, 0, 0.5);
}
