@import "../../scss/classes";
@import "../../scss/variables";

$header-height: 70px;
.group {
  @extend %flex-items-row;
}
.header {
  @extend %flex-vertical-center;
  justify-content: space-between;
  border-bottom: $border;
  height: $header-height;
}

.logoWrapper {
  @extend %flex-center;
  height: $header-height;
  width: 80px;
  > img {
    max-width: 100%;
    max-height: 30px;
  }
}

@media screen and (max-width: 550px) {
  .searchBarWrapper {
    display: none;
  }
}
.searchBarWrapper {
  @extend %flex-center;
  height: $header-height;
  margin-left: 5px;
  width: 240px;
  input {
    width: 100%;
    height: 40px;
    padding: 0 24px;
    border-radius: 1000px;
  }
}

.registerLink {
  @extend %flex-center;
  border: none;
  width: 130px;
  font-weight: 600;
  color: $primary-color;
  height: $header-height;
}

.loginButton {
  @extend %flex-horizontal-center;
  background-color: $primary-color;
  height: 100%;
  width: 80px;
  right: 0;
  > img {
    padding: 25px 30px;
    height: 20px;
    width: 20px;
  }
}

.userProfile {
  margin-right: 15px;
}
