@import "../../scss/classes";
@import "../../scss/variables";

.videoWrapper {
  @extend %full-size;
  :hover {
    .controls {
      visibility: visible;
    }
  }
}
.player {
  @extend %full-size;
  position: relative;
  > video {
    @extend %full-size;
    max-height: 100%;
    background-color: black;
  }
}
.buffering {
  position: absolute;
  @extend %full-size;
  @extend %flex-center;
}
%no-select {
  user-select: none;
}
.controls {
  @extend %flex-items-row;
  @extend %no-select;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 92%;
  height: 40px;
  visibility: hidden;
  position: absolute;
  padding: 0 4% 3% 4%;
  justify-content: space-between;
  * {
    @extend %no-select;
  }
  :last-child {
    margin-right: 0;
  }
}
.controlsRight {
  @extend %flex-items-row;
}

$progress-bar-height: 5px;
.progressBarWrapper {
  @extend %flex-vertical-center;
  height: 100%;
  padding-right: 15px;
  width: calc(92% - 110px);
}
.progressBar {
  width: 100%;
  cursor: pointer;
  position: relative;
  height: $progress-bar-height;
  background-color: rgba(#fafafa, 0.1);
  * {
    pointer-events: none;
  }
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
}
.durationInfo {
  @extend %flex-center;
  position: relative;
  width: 50px;
  height: 24px;
  border-radius: 12px;
  bottom: 24px + $progress-bar-height;
  background-color: rgba(white, 0.2);
}

.button {
  @extend %flex-center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 10px;
  border: solid 1px rgba(white, 0);
  background-color: rgba(black, 0.3);
  > img {
    width: 12px;
    height: 12px;
  }
}
