@import "../../scss/classes";
@import "../../scss/variables";

.loading {
  @extend %flex-center;
  @extend %full-size;
  top: 0;
  left: 0;
  color: white;
  position: absolute;
  background-color: $primary-color;
}
