%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex-vertical-center {
  display: flex;
  align-items: center;
}
%flex-horizontal-center {
  display: flex;
  justify-content: center;
}
%flex-items-row {
  display: flex;
  flex-direction: row;
}
%flex-items-column {
  display: flex;
  flex-direction: column;
}

%text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
}

%full-size {
  width: 100%;
  height: 100%;
}
