@import "./classes";
@import "./variables";

.loading {
  @extend %flex-center;
  position: relative;
  background-color: #d5d2da;

  &::after {
    display: block;
    width: 35%;
    content: "";
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    animation-name: loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 2s;
  animation-direction: linear;
  animation-iteration-count: infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
