@import "./classes";
@import "./variables";

%primary-element {
  @extend %full-size;
  position: fixed;
  -webkit-overflow-scrolling: touch;
}
html {
  @extend %primary-element;
  overflow-y: hidden;
}
body {
  @extend %primary-element;
  font-family: Montserrat, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 12px;
  color: #aaa;
  padding: 0;
  margin: 0;
}
a {
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: $primary-color-dark;
}

h1,
h2,
a {
  color: $primary-color;
}

div[hidden] {
  display: none;
}
div[data-router-outlet] {
  display: inline;
}

.bgCover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.textDanger {
  color: #dc3545 !important;
}

.alert {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
}
.alertDanger {
  @extend .alert;
  color: #721c24;
  border-color: #f5c6cb;
  background-color: #f8d7da;
}
